/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    tapping-term-ms = <400>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB              &kp Q  &kp W               &kp E         &kp R          &kp T    &kp Y    &kp U        &kp I      &kp O        &kp P          &kp DELETE
&kp ESCAPE           &kp A  &mt LEFT_CONTROL S  &kp D         &mt LSHIFT F   &kp G    &kp H    &mt RSHFT J  &kp K      &mt RCTRL L  &kp SEMICOLON  &kp SQT
&mt CAPS LEFT_SHIFT  &kp Z  &kp X               &kp C         &kp V          &kp B    &kp N    &kp M        &kp COMMA  &kp DOT      &kp FSLH       &kp RIGHT_SHIFT
                                                &kp LEFT_ALT  &kp BACKSPACE  &mo 1    &kp RET  &kp SPACE    &kp RGUI
            >;
        };

        layer_1 {
            bindings = <
&kp EQUAL  &kp PLUS        &trans    &kp UP          &kp DOLLAR            &kp PERCENT    &kp EQUAL  &kp NUMBER_7  &kp NUMBER_8  &kp N9        &kp NUMBER_0          &kp EQUAL
&kp GRAVE  &kp LEFT_SHIFT  &kp LEFT  &kp DOWN_ARROW  &mt LEFT_SHIFT RIGHT  &kp HOME       &kp END    &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp NON_US_BACKSLASH  &trans
&kp TILDE  &trans          &trans    &trans          &trans                &trans         &trans     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp LEFT_BRACKET      &kp RIGHT_BRACKET
                                     &trans          &trans                &trans         &trans     &trans        &kp N0
            >;
        };
    };
};
